
/* ----- THEME ----- */


/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
 margin: 0;
 padding: 0;
 border: 0 solid transparent;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}
audio,
canvas,
embed,
iframe,
img,
object,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
button,
input,
select,
textarea {
  font: inherit;
  line-height: inherit;
  color: inherit;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
button,
[role="button"] {
  cursor: pointer;
  background-color: transparent;
}
code {
  font: inherit;
  font-size: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
ul[role='list'],
ol[role='list'] {
 list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
textarea {
  vertical-align: top;
  overflow: auto;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* TYPEFACE */
html {font-size: 18px;}

/* FAMILY */
.font-sans{font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;}
.font-serif{font-family: Georgia,Cambria,Times New Roman,Times,serif;}
.font-mono{font-family: Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;}

body {
  font-weight: normal;
  line-height: 1;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* BACKGROUND */
.bg-fixed{background-attachment:fixed;}
.bg-local{background-attachment:local;}
.bg-scroll{background-attachment:scroll;}
.bg-bottom{background-position:bottom;}
.bg-center{background-position:center;}
.bg-left{background-position:left;}
.bg-left-bottom{background-position:left bottom;}
.bg-left-top{background-position:left top;}
.bg-right{background-position:right;}
.bg-right-bottom{background-position:right bottom;}
.bg-right-top{background-position:right top;}
.bg-top{background-position:top;}
.bg-repeat{background-repeat:repeat;}
.bg-no-repeat{background-repeat:no-repeat;}
.bg-repeat-x{background-repeat:repeat-x;}
.bg-repeat-y{background-repeat:repeat-y;}
.bg-repeat-round{background-repeat:round;}
.bg-repeat-space{background-repeat:space;}
.bg-auto{background-size:auto;}
.bg-cover{background-size:cover;}
.bg-contain{background-size:contain;}
.bg-unset{background-color:unset;}
.bg-clip-border{background-clip:border-box;}
.bg-clip-content{background-clip:content-box;}
.bg-clip-padding{background-clip:padding-box;}
.bg-clip-text{
  background-clip:text;
  -webkit-background-clip:text;
  color:transparent;
}


/* BORDER */
.border-solid{border-style:solid;}
.border-dashed{border-style:dashed;}
.border-dotted{border-style:dotted;}
.border-double{border-style:double;}
.border-none{border-style:none;}
.border-t-none{border-top:none;}
.border-r-none{border-right:none;}
.border-b-none{border-bottom:none;}
.border-l-none{border-left:none;}

.border0{border-width:0px;}
.border-t0{border-top-width:0px;}
.border-r0{border-right-width:0px;}
.border-b0{border-bottom-width:0px;}
.border-l0{border-left-width:0px;}

.border1{border-width:1px;}
.border-t1{border-top-width:1px;}
.border-r1{border-right-width:1px;}
.border-b1{border-bottom-width:1px;}
.border-l1{border-left-width:1px;}

.border2{border-width:2px;}
.border-t2{border-top-width:2px;}
.border-r2{border-right-width:2px;}
.border-b2{border-bottom-width:2px;}
.border-l2{border-left-width:2px;}

.border3{border-width:4px;}
.border-t3{border-top-width:4px;}
.border-r3{border-right-width:4px;}
.border-b3{border-bottom-width:4px;}
.border-l3{border-left-width:4px;}


/* RADIUS */
.radius-none{border-radius:0;}
.radius-100{border-radius:100%;}
.radius-pill{border-radius:9999px;}
.radius-t-none,
.radius-r-none,
.radius-tr-none{border-top-right-radius:0;}
.radius-b-none,
.radius-r-none,
.radius-br-none{border-bottom-right-radius:0;}
.radius-t-none,
.radius-l-none,
.radius-tl-none{border-top-left-radius:0;}
.radius-b-none,
.radius-l-none,
.radius-bl-none{border-bottom-left-radius:0;}
.radius0{border-radius:2px;}
.radius1{border-radius:8px;}
.radius2{border-radius:16px;}
.radius3{border-radius:9999px;}


/* COLOR */
.text-current{color:currentColor}/* current color */
.text-transparent{color:transparent}/* transparent */

.border-current{border-color:currentColor}/* current color */
.border-transparent{border-color:transparent}/* transparent */

.background-current{background-color:currentColor}/* current color */
.background-transparent{background-color:transparent}/* transparent */


/* ----- THEME COLORS ----- */
:root {
  --light: #f8f9fa;
  --dark: #343a40;

  --primary-100: hsl(211, 100%, 90%);
  --primary-200: hsl(211, 100%, 80%);
  --primary-300: hsl(211, 100%, 70%);
  --primary-400: hsl(211, 100%, 60%);
  --primary-500: hsl(211, 100%, 50%);
  --primary-600: hsl(211, 100%, 40%);
  --primary-700: hsl(211, 100%, 30%);
  --primary-800: hsl(211, 100%, 20%);
  --primary-900: hsl(211, 100%, 10%);
    

  --secondary-100: hsl(208, 7.3%, 85%);
  --secondary-200: hsl(208, 7.3%, 75%);
  --secondary-300: hsl(208, 7.3%, 65%);
  --secondary-400: hsl(208, 7.3%, 55%);
  --secondary-500: hsl(208, 7.3%, 45.7%);
  --secondary-600: hsl(208, 7.3%, 35%);
  --secondary-700: hsl(208, 7.3%, 25%);
  --secondary-800: hsl(208, 7.3%, 15%);
  --secondary-900: hsl(208, 7.3%, 5%);
    

  --success-100: hsl(134, 61.4%, 80%);
  --success-200: hsl(134, 61.4%, 70%);
  --success-300: hsl(134, 61.4%, 60%);
  --success-400: hsl(134, 61.4%, 50%);
  --success-500: hsl(134, 61.4%, 40.6%);
  --success-600: hsl(134, 61.4%, 30%);
  --success-700: hsl(134, 61.4%, 20%);
  --success-800: hsl(134, 61.4%, 10%);
  --success-900: hsl(134, 61.4%, 0%);
    

  --info-100: hsl(188, 77.8%, 80%);
  --info-200: hsl(188, 77.8%, 70%);
  --info-300: hsl(188, 77.8%, 60%);
  --info-400: hsl(188, 77.8%, 50%);
  --info-500: hsl(188, 77.8%, 40.6%);
  --info-600: hsl(188, 77.8%, 30%);
  --info-700: hsl(188, 77.8%, 20%);
  --info-800: hsl(188, 77.8%, 10%);
  --info-900: hsl(188, 77.8%, 0%);
    

  --warning-100: hsl(45, 100%, 91%);
  --warning-200: hsl(45, 100%, 81%);
  --warning-300: hsl(45, 100%, 71%);
  --warning-400: hsl(45, 100%, 61%);
  --warning-500: hsl(45, 100%, 51.4%);
  --warning-600: hsl(45, 100%, 41%);
  --warning-700: hsl(45, 100%, 31%);
  --warning-800: hsl(45, 100%, 21%);
  --warning-900: hsl(45, 100%, 11%);
    

  --error-100: hsl(354, 70.5%, 93%);
  --error-200: hsl(354, 70.5%, 83%);
  --error-300: hsl(354, 70.5%, 73%);
  --error-400: hsl(354, 70.5%, 63%);
  --error-500: hsl(354, 70.5%, 53.5%);
  --error-600: hsl(354, 70.5%, 43%);
  --error-700: hsl(354, 70.5%, 33%);
  --error-800: hsl(354, 70.5%, 23%);
  --error-900: hsl(354, 70.5%, 13%);
    

  --grey-100: hsl(0, 0%, 86%);
  --grey-200: hsl(0, 0%, 76%);
  --grey-300: hsl(0, 0%, 66%);
  --grey-400: hsl(0, 0%, 56%);
  --grey-500: hsl(0, 0%, 46.7%);
  --grey-600: hsl(0, 0%, 36%);
  --grey-700: hsl(0, 0%, 26%);
  --grey-800: hsl(0, 0%, 16%);
  --grey-900: hsl(0, 0%, 6%);
    
  --crimson: #eb0052;
  --muted: #6c757d;
  --white: #fff;
}

/* FILL */
.fill-none{fill:none}
.fill-current{fill:currentColor}


/* STROKE */
.stroke-none{stroke:none;}
.stroke-current{stroke:currentColor;}
  



/* SIZES */
.text6{font-size:5.61rem;}/* 100.984px */ 
.text5{font-size:4.209rem;}/* 75.757px */ 
.text4{font-size:3.157rem;}/* 56.832px */ 
.text3{font-size:2.369rem;}/* 42.635px */ 
.text2{font-size:1.777rem;}/* 31.984px */ 
.text1{font-size:1.333rem;}/* 23.994px */ 
.text0{font-size:1rem;}/* 18px */ 
.text-1{font-size:0.75rem;}/* 13.503px */ 
.text-2{font-size:0.563rem;}/* 10.13px */ 
.text-3{font-size:0.422rem;}/* 7.599px */ 
.text-4{font-size:0.317rem;}/* 5.701px */ 
.text-5{font-size:0.238rem;}/* 4.277px */ 
.text-6{font-size:0.178rem;}/* 3.208px */ 


/* Style */
.italic{font-style:italic;}
.not-italic{font-style:normal;}


/* LINE HEIGHT */
.leading5{line-height: 2;}
.leading4{line-height: 1.625;}
.leading3{line-height: 1.5;}
.leading2{line-height: 1.375;}
.leading1{line-height: 1.25;}
.leading0,
.leading-none{line-height:1;}


/* TRACKING */
.tracking3{letter-spacing: 0.1em;}
.tracking2{letter-spacing: 0.05em;}
.tracking1{letter-spacing: 0.025em;}
.tracking0{letter-spacing: 0;}
.tracking-1{letter-spacing: -0.025em;}
.tracking-2{letter-spacing: -0.05em;}
  

/* WEIGHTS */
.font-hairline{font-weight:100;}
.font-thin{font-weight:200;}
.font-light{font-weight:300;}
.font-normal{font-weight:400;}
.font-medium{font-weight:500;}
.font-semibold{font-weight:600;}
.font-bold{font-weight:700;}
.font-extrabold{font-weight:800;}
.font-black{font-weight:900;}


/* TEXT TRANSFORM */
.uppercase{text-transform:uppercase;}
.lowercase{text-transform:lowercase;}
.capitalize{text-transform:capitalize;}
.normal-case{text-transform:none;}
  

/* ALIGN */
.text-inherit{text-align:inherit;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
  

/* DECORATION */
.no-underline{text-decoration:none;}
.underline{text-decoration:underline;}
.line-through{text-decoration:line-through;}
  

/* LIST */
.list-none{list-style:none;}
.list-disc{list-style:disc;}
.list-decimal{list-style:decimal;}


/* WHITESPACE */
.whitespace-normal{white-space:normal;}
.truncate,
.whitespace-no-wrap{white-space:nowrap;}
.whitespace-pre{white-space:pre;}
.whitespace-pre-line{white-space:pre-line;}
.whitespace-pre-wrap{white-space:pre-wrap;}
  

/* WORDBREAK */
.break-normal{word-break:normal}
.break-normal,
.break-word{overflow-wrap:normal}
.break-all{word-break:break-all}
.break-keep{word-break:keep-all}
.truncate,
.ellipsis{text-overflow:ellipsis}
  
  

/* -----  LAYOUT ----- */


/* POSITION */
.sticky{position:sticky;}
.static{position:static;}
.absolute{position:absolute;}
.relative{position:relative;}
.fixed{position:fixed;}


 /* POSITIONING */
 .trbl,
.top0{top:0;}
 .trbl,
.right0{right:0;}
 .trbl,
.bottom0{bottom:0;}
 .trbl,
.left0{left:0;}
  

/* DISPLAY */
.hidden{display:none;}
.block{display:block;}
.inline{display:inline;}
.inline-block{display:inline-block;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.grid{display:grid;}
.inline-grid{display:inline-grid;}


/* WIDTH */
.w-0{width:0}
.w-full{width:100%}
.w-screen{width:100vw}
.min-w-0{min-width:0}
.min-w-full{min-width:100%}
.max-width-none{max-width:none}
.max-w-full{max-width:100%}


/* HEIGHT */
.h-0{height:0;}
.h-full{height:100%;}
.h-screen{height:100vh;}
.min-h-0{min-height:0;}
.min-h-full{min-height:100%;}
.min-h-screen{min-height:100vh;}
.max-h-full{max-height:100%;}
.max-h-screen{max-height:100vh;}


/* FLEX */
.flex-1{flex: 1 1 0%;}
.flex-auto{flex: 1 1 auto;}
.flex-initial{flex: 0 1 auto;}
.flex-none{flex:none;}
.flex-row{flex-direction:row;}
.flex-row-reverse{flex-direction:row-reverse;}
.flex-col{flex-direction:column;}
.flex-col-reverse{flex-direction:column-reverse;}
.items-stretch{align-items:stretch;}
.items-start{align-items:flex-start;}
.items-end{align-items:flex-end;}
.items-center{align-items:center;}
.content-start{align-content:start;}
.content-center{align-content:center;}
.content-end{align-content:end;}
.content-between{align-content:space-between;}
.content-around{align-content:space-around;}
.self-auto{align-self:auto;}
.self-start{align-self:flex-start;}
.self-end{align-self:flex-end;}
.self-center{align-self:center;}
.self-stretch{align-self:stretch;}
.justify-start{justify-content:flex-start;}
.justify-end{justify-content: flex-end;}
.justify-around{justify-content:space-around;}
.justify-between{justify-content:space-between;}
.justify-center{justify-content:center;}
.flex-grow{flex-grow:1;}
.flex-grow-0{flex-grow:0;}
.flex-shrink{flex-shrink:1;}
.flex-shrink-0{flex-shrink:0;}
.flex-wrap{flex-wrap:wrap;}
.flex-wrap-reverse{flex-wrap:wrap-reverse;}
.flex-no-wrap{flex-wrap:nowrap;}
.order-first{order:-9999;}
.order-last{order:9999;}
.order-none{order:0;}
.order-1{order:1;}
.order-2{order:2;}
.order-3{order:3;}
.order-4{order:4;}
.order-5{order:5;}
.order-6{order:6;}


/* GRID */
.flow-row{grid-auto-flow:row;}
.flow-col{grid-auto-flow:column;}
.flow-row-dense{grid-auto-flow:row dense;}
.flow-column-dense{grid-auto-flow:column dense;}
.row-auto{grid-row:auto;}
.col-auto{grid-column:auto;}
.col-end-auto{grid-column-end: auto;}
.rows-end-auto{grid-row-end:auto;}
.rows-none{grid-template-rows:none;}
.col-1{grid-template-columns:repeat(1, minmax(0, 1fr));}
.col-span-1{grid-column: span 1 / span 1;}
.col-start-1{grid-column-start: 1;}
.row-start-1{grid-row-start: 1;}
.col-end-1{grid-column-end: 1;}
.row-end-1{grid-row-end: 1;}
.row-1{grid-template-rows: repeat(1, minmax(0, 1fr));}
.col-2{grid-template-columns:repeat(2, minmax(0, 1fr));}
.col-span-2{grid-column: span 2 / span 2;}
.col-start-2{grid-column-start: 2;}
.row-start-2{grid-row-start: 2;}
.col-end-2{grid-column-end: 2;}
.row-end-2{grid-row-end: 2;}
.row-2{grid-template-rows: repeat(2, minmax(0, 1fr));}
.col-3{grid-template-columns:repeat(3, minmax(0, 1fr));}
.col-span-3{grid-column: span 3 / span 3;}
.col-start-3{grid-column-start: 3;}
.row-start-3{grid-row-start: 3;}
.col-end-3{grid-column-end: 3;}
.row-end-3{grid-row-end: 3;}
.row-3{grid-template-rows: repeat(3, minmax(0, 1fr));}
.col-4{grid-template-columns:repeat(4, minmax(0, 1fr));}
.col-span-4{grid-column: span 4 / span 4;}
.col-start-4{grid-column-start: 4;}
.row-start-4{grid-row-start: 4;}
.col-end-4{grid-column-end: 4;}
.row-end-4{grid-row-end: 4;}
.row-4{grid-template-rows: repeat(4, minmax(0, 1fr));}
.col-5{grid-template-columns:repeat(5, minmax(0, 1fr));}
.col-span-5{grid-column: span 5 / span 5;}
.col-start-5{grid-column-start: 5;}
.row-start-5{grid-row-start: 5;}
.col-end-5{grid-column-end: 5;}
.row-end-5{grid-row-end: 5;}
.row-5{grid-template-rows: repeat(5, minmax(0, 1fr));}
.col-6{grid-template-columns:repeat(6, minmax(0, 1fr));}
.col-span-6{grid-column: span 6 / span 6;}
.col-start-6{grid-column-start: 6;}
.row-start-6{grid-row-start: 6;}
.col-end-6{grid-column-end: 6;}
.row-end-6{grid-row-end: 6;}
.row-6{grid-template-rows: repeat(6, minmax(0, 1fr));}
.gap5{gap:5.61rem;}
.gap4{gap:4.209rem;}
.gap3{gap:3.157rem;}
.gap2{gap:2.369rem;}
.gap1{gap:1.777rem;}
.gap0{gap:1.333rem;}
.gap-1{gap:1rem;}
.gap-2{gap:0.75rem;}
.gap-3{gap:0.563rem;}
.gap-4{gap:0.422rem;}
.gap-5{gap:0.317rem;}
.gap-6{gap:0.238rem;}
.gap-7{gap:0.178rem;}


/* Z-INDEX */
.z-auto{z-index:auto;}
.z1{z-index:1;}
.z0{z-index:0;}
.z-1{z-index:-1;}



/* MARGIN */
.m-none{margin:0}
.my-none,
.mt-none{margin-top:0}
.mx-none,
.mr-none{margin-right:0}
.my-none,
.mb-none{margin-bottom:0}
.mx-none,
.ml-none{margin-left:0}
.m-auto{margin-right:auto;margin-left:auto;}
.mr-auto{margin-right:auto}
.ml-auto{margin-left:auto}
.m6{margin:5.61rem}
.mt6{margin-top:5.61rem}
.mr6{margin-right:5.61rem}
.mb6{margin-bottom:5.61rem}
.ml6{margin-left:5.61rem}
.m5{margin:4.209rem}
.mt5{margin-top:4.209rem}
.mr5{margin-right:4.209rem}
.mb5{margin-bottom:4.209rem}
.ml5{margin-left:4.209rem}
.m4{margin:3.157rem}
.mt4{margin-top:3.157rem}
.mr4{margin-right:3.157rem}
.mb4{margin-bottom:3.157rem}
.ml4{margin-left:3.157rem}
.m3{margin:2.369rem}
.mt3{margin-top:2.369rem}
.mr3{margin-right:2.369rem}
.mb3{margin-bottom:2.369rem}
.ml3{margin-left:2.369rem}
.m2{margin:1.777rem}
.mt2{margin-top:1.777rem}
.mr2{margin-right:1.777rem}
.mb2{margin-bottom:1.777rem}
.ml2{margin-left:1.777rem}
.m1{margin:1.333rem}
.mt1{margin-top:1.333rem}
.mr1{margin-right:1.333rem}
.mb1{margin-bottom:1.333rem}
.ml1{margin-left:1.333rem}
.m0{margin:1rem}
.mt0{margin-top:1rem}
.mr0{margin-right:1rem}
.mb0{margin-bottom:1rem}
.ml0{margin-left:1rem}
.m-1{margin:0.75rem}
.mt-1{margin-top:0.75rem}
.mr-1{margin-right:0.75rem}
.mb-1{margin-bottom:0.75rem}
.ml-1{margin-left:0.75rem}
.m-2{margin:0.563rem}
.mt-2{margin-top:0.563rem}
.mr-2{margin-right:0.563rem}
.mb-2{margin-bottom:0.563rem}
.ml-2{margin-left:0.563rem}
.m-3{margin:0.422rem}
.mt-3{margin-top:0.422rem}
.mr-3{margin-right:0.422rem}
.mb-3{margin-bottom:0.422rem}
.ml-3{margin-left:0.422rem}
.m-4{margin:0.317rem}
.mt-4{margin-top:0.317rem}
.mr-4{margin-right:0.317rem}
.mb-4{margin-bottom:0.317rem}
.ml-4{margin-left:0.317rem}
.m-5{margin:0.238rem}
.mt-5{margin-top:0.238rem}
.mr-5{margin-right:0.238rem}
.mb-5{margin-bottom:0.238rem}
.ml-5{margin-left:0.238rem}
.m-6{margin:0.178rem}
.mt-6{margin-top:0.178rem}
.mr-6{margin-right:0.178rem}
.mb-6{margin-bottom:0.178rem}
.ml-6{margin-left:0.178rem}


/* PADDING */
.p-none{padding:0;}
.py-none,
.pt-none{padding-top:0;}
.px-none,
.pr-none{padding-right:0;}
.py-none,
.pb-none{padding-bottom:0;}
.px-none,
.pl-none{padding-left:0;}
.p6{padding:5.61rem;}
.pt6{padding-top:5.61rem;}
.pr6{padding-right:5.61rem;}
.pb6{padding-bottom:5.61rem;}
.pl6{padding-left:5.61rem;}
.p5{padding:4.209rem;}
.pt5{padding-top:4.209rem;}
.pr5{padding-right:4.209rem;}
.pb5{padding-bottom:4.209rem;}
.pl5{padding-left:4.209rem;}
.p4{padding:3.157rem;}
.pt4{padding-top:3.157rem;}
.pr4{padding-right:3.157rem;}
.pb4{padding-bottom:3.157rem;}
.pl4{padding-left:3.157rem;}
.p3{padding:2.369rem;}
.pt3{padding-top:2.369rem;}
.pr3{padding-right:2.369rem;}
.pb3{padding-bottom:2.369rem;}
.pl3{padding-left:2.369rem;}
.p2{padding:1.777rem;}
.pt2{padding-top:1.777rem;}
.pr2{padding-right:1.777rem;}
.pb2{padding-bottom:1.777rem;}
.pl2{padding-left:1.777rem;}
.p1{padding:1.333rem;}
.pt1{padding-top:1.333rem;}
.pr1{padding-right:1.333rem;}
.pb1{padding-bottom:1.333rem;}
.pl1{padding-left:1.333rem;}
.p0{padding:1rem;}
.pt0{padding-top:1rem;}
.pr0{padding-right:1rem;}
.pb0{padding-bottom:1rem;}
.pl0{padding-left:1rem;}
.p-1{padding:0.75rem;}
.pt-1{padding-top:0.75rem;}
.pr-1{padding-right:0.75rem;}
.pb-1{padding-bottom:0.75rem;}
.pl-1{padding-left:0.75rem;}
.p-2{padding:0.563rem;}
.pt-2{padding-top:0.563rem;}
.pr-2{padding-right:0.563rem;}
.pb-2{padding-bottom:0.563rem;}
.pl-2{padding-left:0.563rem;}
.p-3{padding:0.422rem;}
.pt-3{padding-top:0.422rem;}
.pr-3{padding-right:0.422rem;}
.pb-3{padding-bottom:0.422rem;}
.pl-3{padding-left:0.422rem;}
.p-4{padding:0.317rem;}
.pt-4{padding-top:0.317rem;}
.pr-4{padding-right:0.317rem;}
.pb-4{padding-bottom:0.317rem;}
.pl-4{padding-left:0.317rem;}
.p-5{padding:0.238rem;}
.pt-5{padding-top:0.238rem;}
.pr-5{padding-right:0.238rem;}
.pb-5{padding-bottom:0.238rem;}
.pl-5{padding-left:0.238rem;}
.p-6{padding:0.178rem;}
.pt-6{padding-top:0.178rem;}
.pr-6{padding-right:0.178rem;}
.pb-6{padding-bottom:0.178rem;}
.pl-6{padding-left:0.178rem;}


/* OVERFLOW */
.overflow-auto{overflow:auto;}
.truncate,
.overflow-hidden{overflow:hidden;}
.overflow-visible{overflow:visible;}
.overflow-scroll{overflow:scroll;}
.overflow-x-auto{overflow-x:auto;}
.overflow-y-auto{overflow-y:auto;}
.overflow-x-scroll{overflow-x:scroll;}
.overflow-x-hidden{overflow-x:hidden;}
.overflow-y-scroll{overflow-y:scroll;}
.overflow-y-hidden{overflow-y:hidden;}
.scrolling-touch{-webkit-overflow-scrolling:touch;}
.scrolling-auto{-webkit-overflow-scrolling:auto;}


/* VISIBILITY */
.invisible{visibility:hidden;}
.visible{visibility:visible;}


/* OBJECT FIT */
.object-contain{object-fit:contain;}
.object-cover{object-fit:cover;}
.object-fill{object-fit:fill;}
.object-none{object-fit:none;}
.object-scale-down{object-fit:scale-down;}


/* OBJECT POSITION */
.object-b{object-position:bottom;}
.object-c{object-position:center;}
.object-t{object-position:top;}
.object-r{object-position:right;}
.object-rt{object-position:right top;}
.object-rb{object-position:right bottom;}
.object-l{object-position:left;}
.object-lt{object-position:left top;}
.object-lb{object-position:left bottom;}
  

/* OUTLINE */
.outline-none{outline:0;}
  

/* OPACITY */
.opacity-0{opacity:0;}
.opacity-25{opacity:0.25;}
.opacity-50{opacity:0.5;}
.opacity-75{opacity:0.75;}
.opacity-100{opacity:1.0;}


/* CURSOR */
.cursor-auto{cursor:auto;}
.cursor-default{cursor:default;}
.cursor-pointer{cursor:pointer;}
.cursor-wait{cursor:wait;}
.cursor-text{cursor:text;}
.cursor-move{cursor:move;}
.cursor-not-allowed{cursor:not-allowed;}
.cursor-grab{cursor:grab;}
.cursor-grabbing{cursor:grabbing;}


/* USER SELECT */
.select-none{user-select:none;}
.select-text{user-select:text;}
.select-all{user-select:all;}
.select-auto{user-select:auto;}
  

@media only screen and (min-width:48em) {
  


/* SIZES */
.text6-lg{font-size:5.61rem;}/* 100.984px */ 
.text5-lg{font-size:4.209rem;}/* 75.757px */ 
.text4-lg{font-size:3.157rem;}/* 56.832px */ 
.text3-lg{font-size:2.369rem;}/* 42.635px */ 
.text2-lg{font-size:1.777rem;}/* 31.984px */ 
.text1-lg{font-size:1.333rem;}/* 23.994px */ 
.text0-lg{font-size:1rem;}/* 18px */ 
.text-1-lg{font-size:0.75rem;}/* 13.503px */ 
.text-2-lg{font-size:0.563rem;}/* 10.13px */ 
.text-3-lg{font-size:0.422rem;}/* 7.599px */ 
.text-4-lg{font-size:0.317rem;}/* 5.701px */ 
.text-5-lg{font-size:0.238rem;}/* 4.277px */ 
.text-6-lg{font-size:0.178rem;}/* 3.208px */ 


/* Style */
.italic-lg{font-style:italic;}
.not-italic-lg{font-style:normal;}


/* LINE HEIGHT */
.leading5-lg{line-height: 2;}
.leading4-lg{line-height: 1.625;}
.leading3-lg{line-height: 1.5;}
.leading2-lg{line-height: 1.375;}
.leading1-lg{line-height: 1.25;}
.leading0-lg,
.leading-none-lg{line-height:1;}


/* TRACKING */
.tracking3-lg{letter-spacing: 0.1em;}
.tracking2-lg{letter-spacing: 0.05em;}
.tracking1-lg{letter-spacing: 0.025em;}
.tracking0-lg{letter-spacing: 0;}
.tracking-1-lg{letter-spacing: -0.025em;}
.tracking-2-lg{letter-spacing: -0.05em;}
  

/* WEIGHTS */
.font-hairline-lg{font-weight:100;}
.font-thin-lg{font-weight:200;}
.font-light-lg{font-weight:300;}
.font-normal-lg{font-weight:400;}
.font-medium-lg{font-weight:500;}
.font-semibold-lg{font-weight:600;}
.font-bold-lg{font-weight:700;}
.font-extrabold-lg{font-weight:800;}
.font-black-lg{font-weight:900;}


/* TEXT TRANSFORM */
.uppercase-lg{text-transform:uppercase;}
.lowercase-lg{text-transform:lowercase;}
.capitalize-lg{text-transform:capitalize;}
.normal-case-lg{text-transform:none;}
  

/* ALIGN */
.text-inherit-lg{text-align:inherit;}
.text-center-lg{text-align:center;}
.text-left-lg{text-align:left;}
.text-right-lg{text-align:right;}
  

/* DECORATION */
.no-underline-lg{text-decoration:none;}
.underline-lg{text-decoration:underline;}
.line-through-lg{text-decoration:line-through;}
  

/* LIST */
.list-none-lg{list-style:none;}
.list-disc-lg{list-style:disc;}
.list-decimal-lg{list-style:decimal;}


/* WHITESPACE */
.whitespace-normal-lg{white-space:normal;}
.truncate-lg,
.whitespace-no-wrap-lg{white-space:nowrap;}
.whitespace-pre-lg{white-space:pre;}
.whitespace-pre-line-lg{white-space:pre-line;}
.whitespace-pre-wrap-lg{white-space:pre-wrap;}
  

/* WORDBREAK */
.break-normal-lg{word-break:normal}
.break-normal-lg,
.break-word-lg{overflow-wrap:normal}
.break-all-lg{word-break:break-all}
.break-keep-lg{word-break:keep-all}
.truncate-lg,
.ellipsis-lg{text-overflow:ellipsis}
  
  

/* -----  LAYOUT ----- */


/* POSITION */
.sticky-lg{position:sticky;}
.static-lg{position:static;}
.absolute-lg{position:absolute;}
.relative-lg{position:relative;}
.fixed-lg{position:fixed;}


 /* POSITIONING */
 .trbl-lg,
.top0-lg{top:0;}
 .trbl-lg,
.right0-lg{right:0;}
 .trbl-lg,
.bottom0-lg{bottom:0;}
 .trbl-lg,
.left0-lg{left:0;}
  

/* DISPLAY */
.hidden-lg{display:none;}
.block-lg{display:block;}
.inline-lg{display:inline;}
.inline-block-lg{display:inline-block;}
.flex-lg{display:flex;}
.inline-flex-lg{display:inline-flex;}
.grid-lg{display:grid;}
.inline-grid-lg{display:inline-grid;}


/* WIDTH */
.w-0-lg{width:0}
.w-full-lg{width:100%}
.w-screen-lg{width:100vw}
.min-w-0-lg{min-width:0}
.min-w-full-lg{min-width:100%}
.max-width-none-lg{max-width:none}
.max-w-full-lg{max-width:100%}


/* HEIGHT */
.h-0-lg{height:0;}
.h-full-lg{height:100%;}
.h-screen-lg{height:100vh;}
.min-h-0-lg{min-height:0;}
.min-h-full-lg{min-height:100%;}
.min-h-screen-lg{min-height:100vh;}
.max-h-full-lg{max-height:100%;}
.max-h-screen-lg{max-height:100vh;}


/* FLEX */
.flex-1-lg{flex: 1 1 0%;}
.flex-auto-lg{flex: 1 1 auto;}
.flex-initial-lg{flex: 0 1 auto;}
.flex-none-lg{flex:none;}
.flex-row-lg{flex-direction:row;}
.flex-row-reverse-lg{flex-direction:row-reverse;}
.flex-col-lg{flex-direction:column;}
.flex-col-reverse-lg{flex-direction:column-reverse;}
.items-stretch-lg{align-items:stretch;}
.items-start-lg{align-items:flex-start;}
.items-end-lg{align-items:flex-end;}
.items-center-lg{align-items:center;}
.content-start-lg{align-content:start;}
.content-center-lg{align-content:center;}
.content-end-lg{align-content:end;}
.content-between-lg{align-content:space-between;}
.content-around-lg{align-content:space-around;}
.self-auto-lg{align-self:auto;}
.self-start-lg{align-self:flex-start;}
.self-end-lg{align-self:flex-end;}
.self-center-lg{align-self:center;}
.self-stretch-lg{align-self:stretch;}
.justify-start-lg{justify-content:flex-start;}
.justify-end-lg{justify-content: flex-end;}
.justify-around-lg{justify-content:space-around;}
.justify-between-lg{justify-content:space-between;}
.justify-center-lg{justify-content:center;}
.flex-grow-lg{flex-grow:1;}
.flex-grow-0-lg{flex-grow:0;}
.flex-shrink-lg{flex-shrink:1;}
.flex-shrink-0-lg{flex-shrink:0;}
.flex-wrap-lg{flex-wrap:wrap;}
.flex-wrap-reverse-lg{flex-wrap:wrap-reverse;}
.flex-no-wrap-lg{flex-wrap:nowrap;}
.order-first-lg{order:-9999;}
.order-last-lg{order:9999;}
.order-none-lg{order:0;}
.order-1-lg{order:1;}
.order-2-lg{order:2;}
.order-3-lg{order:3;}
.order-4-lg{order:4;}
.order-5-lg{order:5;}
.order-6-lg{order:6;}


/* GRID */
.flow-row-lg{grid-auto-flow:row;}
.flow-col-lg{grid-auto-flow:column;}
.flow-row-dense-lg{grid-auto-flow:row dense;}
.flow-column-dense-lg{grid-auto-flow:column dense;}
.row-auto-lg{grid-row:auto;}
.col-auto-lg{grid-column:auto;}
.col-end-auto-lg{grid-column-end: auto;}
.rows-end-auto-lg{grid-row-end:auto;}
.rows-none-lg{grid-template-rows:none;}
.col-1-lg{grid-template-columns:repeat(1, minmax(0, 1fr));}
.col-span-1-lg{grid-column: span 1 / span 1;}
.col-start-1-lg{grid-column-start: 1;}
.row-start-1-lg{grid-row-start: 1;}
.col-end-1-lg{grid-column-end: 1;}
.row-end-1-lg{grid-row-end: 1;}
.row-1-lg{grid-template-rows: repeat(1, minmax(0, 1fr));}
.col-2-lg{grid-template-columns:repeat(2, minmax(0, 1fr));}
.col-span-2-lg{grid-column: span 2 / span 2;}
.col-start-2-lg{grid-column-start: 2;}
.row-start-2-lg{grid-row-start: 2;}
.col-end-2-lg{grid-column-end: 2;}
.row-end-2-lg{grid-row-end: 2;}
.row-2-lg{grid-template-rows: repeat(2, minmax(0, 1fr));}
.col-3-lg{grid-template-columns:repeat(3, minmax(0, 1fr));}
.col-span-3-lg{grid-column: span 3 / span 3;}
.col-start-3-lg{grid-column-start: 3;}
.row-start-3-lg{grid-row-start: 3;}
.col-end-3-lg{grid-column-end: 3;}
.row-end-3-lg{grid-row-end: 3;}
.row-3-lg{grid-template-rows: repeat(3, minmax(0, 1fr));}
.col-4-lg{grid-template-columns:repeat(4, minmax(0, 1fr));}
.col-span-4-lg{grid-column: span 4 / span 4;}
.col-start-4-lg{grid-column-start: 4;}
.row-start-4-lg{grid-row-start: 4;}
.col-end-4-lg{grid-column-end: 4;}
.row-end-4-lg{grid-row-end: 4;}
.row-4-lg{grid-template-rows: repeat(4, minmax(0, 1fr));}
.col-5-lg{grid-template-columns:repeat(5, minmax(0, 1fr));}
.col-span-5-lg{grid-column: span 5 / span 5;}
.col-start-5-lg{grid-column-start: 5;}
.row-start-5-lg{grid-row-start: 5;}
.col-end-5-lg{grid-column-end: 5;}
.row-end-5-lg{grid-row-end: 5;}
.row-5-lg{grid-template-rows: repeat(5, minmax(0, 1fr));}
.col-6-lg{grid-template-columns:repeat(6, minmax(0, 1fr));}
.col-span-6-lg{grid-column: span 6 / span 6;}
.col-start-6-lg{grid-column-start: 6;}
.row-start-6-lg{grid-row-start: 6;}
.col-end-6-lg{grid-column-end: 6;}
.row-end-6-lg{grid-row-end: 6;}
.row-6-lg{grid-template-rows: repeat(6, minmax(0, 1fr));}
.gap5-lg{gap:5.61rem;}
.gap4-lg{gap:4.209rem;}
.gap3-lg{gap:3.157rem;}
.gap2-lg{gap:2.369rem;}
.gap1-lg{gap:1.777rem;}
.gap0-lg{gap:1.333rem;}
.gap-1-lg{gap:1rem;}
.gap-2-lg{gap:0.75rem;}
.gap-3-lg{gap:0.563rem;}
.gap-4-lg{gap:0.422rem;}
.gap-5-lg{gap:0.317rem;}
.gap-6-lg{gap:0.238rem;}
.gap-7-lg{gap:0.178rem;}


/* Z-INDEX */
.z-auto-lg{z-index:auto;}
.z1-lg{z-index:1;}
.z0-lg{z-index:0;}
.z-1-lg{z-index:-1;}



/* MARGIN */
.m-none-lg{margin:0}
.my-none-lg,
.mt-none-lg{margin-top:0}
.mx-none-lg,
.mr-none-lg{margin-right:0}
.my-none-lg,
.mb-none-lg{margin-bottom:0}
.mx-none-lg,
.ml-none-lg{margin-left:0}
.m-auto-lg{margin-right:auto;margin-left:auto;}
.mr-auto-lg{margin-right:auto}
.ml-auto-lg{margin-left:auto}
.m6-lg{margin:5.61rem}
.mt6-lg{margin-top:5.61rem}
.mr6-lg{margin-right:5.61rem}
.mb6-lg{margin-bottom:5.61rem}
.ml6-lg{margin-left:5.61rem}
.m5-lg{margin:4.209rem}
.mt5-lg{margin-top:4.209rem}
.mr5-lg{margin-right:4.209rem}
.mb5-lg{margin-bottom:4.209rem}
.ml5-lg{margin-left:4.209rem}
.m4-lg{margin:3.157rem}
.mt4-lg{margin-top:3.157rem}
.mr4-lg{margin-right:3.157rem}
.mb4-lg{margin-bottom:3.157rem}
.ml4-lg{margin-left:3.157rem}
.m3-lg{margin:2.369rem}
.mt3-lg{margin-top:2.369rem}
.mr3-lg{margin-right:2.369rem}
.mb3-lg{margin-bottom:2.369rem}
.ml3-lg{margin-left:2.369rem}
.m2-lg{margin:1.777rem}
.mt2-lg{margin-top:1.777rem}
.mr2-lg{margin-right:1.777rem}
.mb2-lg{margin-bottom:1.777rem}
.ml2-lg{margin-left:1.777rem}
.m1-lg{margin:1.333rem}
.mt1-lg{margin-top:1.333rem}
.mr1-lg{margin-right:1.333rem}
.mb1-lg{margin-bottom:1.333rem}
.ml1-lg{margin-left:1.333rem}
.m0-lg{margin:1rem}
.mt0-lg{margin-top:1rem}
.mr0-lg{margin-right:1rem}
.mb0-lg{margin-bottom:1rem}
.ml0-lg{margin-left:1rem}
.m-1-lg{margin:0.75rem}
.mt-1-lg{margin-top:0.75rem}
.mr-1-lg{margin-right:0.75rem}
.mb-1-lg{margin-bottom:0.75rem}
.ml-1-lg{margin-left:0.75rem}
.m-2-lg{margin:0.563rem}
.mt-2-lg{margin-top:0.563rem}
.mr-2-lg{margin-right:0.563rem}
.mb-2-lg{margin-bottom:0.563rem}
.ml-2-lg{margin-left:0.563rem}
.m-3-lg{margin:0.422rem}
.mt-3-lg{margin-top:0.422rem}
.mr-3-lg{margin-right:0.422rem}
.mb-3-lg{margin-bottom:0.422rem}
.ml-3-lg{margin-left:0.422rem}
.m-4-lg{margin:0.317rem}
.mt-4-lg{margin-top:0.317rem}
.mr-4-lg{margin-right:0.317rem}
.mb-4-lg{margin-bottom:0.317rem}
.ml-4-lg{margin-left:0.317rem}
.m-5-lg{margin:0.238rem}
.mt-5-lg{margin-top:0.238rem}
.mr-5-lg{margin-right:0.238rem}
.mb-5-lg{margin-bottom:0.238rem}
.ml-5-lg{margin-left:0.238rem}
.m-6-lg{margin:0.178rem}
.mt-6-lg{margin-top:0.178rem}
.mr-6-lg{margin-right:0.178rem}
.mb-6-lg{margin-bottom:0.178rem}
.ml-6-lg{margin-left:0.178rem}


/* PADDING */
.p-none-lg{padding:0;}
.py-none-lg,
.pt-none-lg{padding-top:0;}
.px-none-lg,
.pr-none-lg{padding-right:0;}
.py-none-lg,
.pb-none-lg{padding-bottom:0;}
.px-none-lg,
.pl-none-lg{padding-left:0;}
.p6-lg{padding:5.61rem;}
.pt6-lg{padding-top:5.61rem;}
.pr6-lg{padding-right:5.61rem;}
.pb6-lg{padding-bottom:5.61rem;}
.pl6-lg{padding-left:5.61rem;}
.p5-lg{padding:4.209rem;}
.pt5-lg{padding-top:4.209rem;}
.pr5-lg{padding-right:4.209rem;}
.pb5-lg{padding-bottom:4.209rem;}
.pl5-lg{padding-left:4.209rem;}
.p4-lg{padding:3.157rem;}
.pt4-lg{padding-top:3.157rem;}
.pr4-lg{padding-right:3.157rem;}
.pb4-lg{padding-bottom:3.157rem;}
.pl4-lg{padding-left:3.157rem;}
.p3-lg{padding:2.369rem;}
.pt3-lg{padding-top:2.369rem;}
.pr3-lg{padding-right:2.369rem;}
.pb3-lg{padding-bottom:2.369rem;}
.pl3-lg{padding-left:2.369rem;}
.p2-lg{padding:1.777rem;}
.pt2-lg{padding-top:1.777rem;}
.pr2-lg{padding-right:1.777rem;}
.pb2-lg{padding-bottom:1.777rem;}
.pl2-lg{padding-left:1.777rem;}
.p1-lg{padding:1.333rem;}
.pt1-lg{padding-top:1.333rem;}
.pr1-lg{padding-right:1.333rem;}
.pb1-lg{padding-bottom:1.333rem;}
.pl1-lg{padding-left:1.333rem;}
.p0-lg{padding:1rem;}
.pt0-lg{padding-top:1rem;}
.pr0-lg{padding-right:1rem;}
.pb0-lg{padding-bottom:1rem;}
.pl0-lg{padding-left:1rem;}
.p-1-lg{padding:0.75rem;}
.pt-1-lg{padding-top:0.75rem;}
.pr-1-lg{padding-right:0.75rem;}
.pb-1-lg{padding-bottom:0.75rem;}
.pl-1-lg{padding-left:0.75rem;}
.p-2-lg{padding:0.563rem;}
.pt-2-lg{padding-top:0.563rem;}
.pr-2-lg{padding-right:0.563rem;}
.pb-2-lg{padding-bottom:0.563rem;}
.pl-2-lg{padding-left:0.563rem;}
.p-3-lg{padding:0.422rem;}
.pt-3-lg{padding-top:0.422rem;}
.pr-3-lg{padding-right:0.422rem;}
.pb-3-lg{padding-bottom:0.422rem;}
.pl-3-lg{padding-left:0.422rem;}
.p-4-lg{padding:0.317rem;}
.pt-4-lg{padding-top:0.317rem;}
.pr-4-lg{padding-right:0.317rem;}
.pb-4-lg{padding-bottom:0.317rem;}
.pl-4-lg{padding-left:0.317rem;}
.p-5-lg{padding:0.238rem;}
.pt-5-lg{padding-top:0.238rem;}
.pr-5-lg{padding-right:0.238rem;}
.pb-5-lg{padding-bottom:0.238rem;}
.pl-5-lg{padding-left:0.238rem;}
.p-6-lg{padding:0.178rem;}
.pt-6-lg{padding-top:0.178rem;}
.pr-6-lg{padding-right:0.178rem;}
.pb-6-lg{padding-bottom:0.178rem;}
.pl-6-lg{padding-left:0.178rem;}


/* OVERFLOW */
.overflow-auto-lg{overflow:auto;}
.truncate-lg,
.overflow-hidden-lg{overflow:hidden;}
.overflow-visible-lg{overflow:visible;}
.overflow-scroll-lg{overflow:scroll;}
.overflow-x-auto-lg{overflow-x:auto;}
.overflow-y-auto-lg{overflow-y:auto;}
.overflow-x-scroll-lg{overflow-x:scroll;}
.overflow-x-hidden-lg{overflow-x:hidden;}
.overflow-y-scroll-lg{overflow-y:scroll;}
.overflow-y-hidden-lg{overflow-y:hidden;}
.scrolling-touch-lg{-webkit-overflow-scrolling:touch;}
.scrolling-auto-lg{-webkit-overflow-scrolling:auto;}


/* VISIBILITY */
.invisible-lg{visibility:hidden;}
.visible-lg{visibility:visible;}


/* OBJECT FIT */
.object-contain-lg{object-fit:contain;}
.object-cover-lg{object-fit:cover;}
.object-fill-lg{object-fit:fill;}
.object-none-lg{object-fit:none;}
.object-scale-down-lg{object-fit:scale-down;}


/* OBJECT POSITION */
.object-b-lg{object-position:bottom;}
.object-c-lg{object-position:center;}
.object-t-lg{object-position:top;}
.object-r-lg{object-position:right;}
.object-rt-lg{object-position:right top;}
.object-rb-lg{object-position:right bottom;}
.object-l-lg{object-position:left;}
.object-lt-lg{object-position:left top;}
.object-lb-lg{object-position:left bottom;}
  

/* OUTLINE */
.outline-none-lg{outline:0;}
  

/* OPACITY */
.opacity-0-lg{opacity:0;}
.opacity-25-lg{opacity:0.25;}
.opacity-50-lg{opacity:0.5;}
.opacity-75-lg{opacity:0.75;}
.opacity-100-lg{opacity:1.0;}


/* CURSOR */
.cursor-auto-lg{cursor:auto;}
.cursor-default-lg{cursor:default;}
.cursor-pointer-lg{cursor:pointer;}
.cursor-wait-lg{cursor:wait;}
.cursor-text-lg{cursor:text;}
.cursor-move-lg{cursor:move;}
.cursor-not-allowed-lg{cursor:not-allowed;}
.cursor-grab-lg{cursor:grab;}
.cursor-grabbing-lg{cursor:grabbing;}


/* USER SELECT */
.select-none-lg{user-select:none;}
.select-text-lg{user-select:text;}
.select-all-lg{user-select:all;}
.select-auto-lg{user-select:auto;}
  

}
